@using AlwasataNew.Data
@model IEnumerable<Customer>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/css/site.css" />
<style>


    .table {
        border-collapse: collapse !important;
        width: 100% !important;
    }

    .table thead th {
        position: sticky !important;
        top: 0 !important;
        background-color: #5d87ff;
    }
</style>


<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row" style="text-align:center;">
                    <h2 style="text-align:center;margin-bottom:30px;">تقارير خاصة في العملاء</h2>

                    <div class="col-md-12">
                        <div class="card">
                            <h3 style="margin-top:20px;">عدد العملاء : <span style="font-weight:bold;color:darkred;margin:10px;" id="customerCount">@Model.Count()</span></h3>
                           @* <div class="sortButtons">
                               <button class="btn btn-primary" id="btnBetween">اظهار العملاء بين تاريخين</button>
                               <button class="btn btn-primary" id="btnYear">اظهار العملاء في هذه السنة</button>
                               <button class="btn btn-primary" id="btnMonth">اظهار العملاء في هذا الشهر</button>
                           </div>
                           <div id="towDate">
                               <div>
                                   <span>تاريخ البداية : </span><input type="date" id="startD" style="padding:3px;border-radius:9px;border:1px solid;outline:none"/>
                               </div>
                                <div>
                                    <span>تاريخ النهاية : </span><input type="date" id="endD" style="padding:3px;border-radius:9px;border:1px solid;outline:none" />
                                </div>
                                <div>
                                    <a class="btn btn-primary" id="btnOk" asp-action="CustomerReports" asp-route-sDate="">
                                        حسناً
                                    </a>
                                </div>
                           </div> *@
                           <div class="tableDiv">
                                <div class="FilterCustomers" dir="rtl">
                                    <div>
                                        <span>ابحث عن عميل</span>
                                        <input type="text" id="keyWord" placeholder="ادخل ماتريد البحث عنه" />
                                    </div>
                                    <div class="hint">يتم البحث من خلال الاسم او اسم الشركة او رقم الهاتف او الايميل</div>
                                </div>
                                <div class="table-responsive" style="max-height:525px;">
                                    <table class="table table-striped text-center">
                                        <thead>
                                            <tr class="bg-primary text-white mt-4">
                                                <th></th>
                                                <th>اسم العميل</th>
                                                <th>تم انشائه بتاريخ</th>
                                                <th>اسم الشركة</th>
                                                <th>رقم الهاتف</th>
                                                 <th>الايميل</th>
                                                <th>نوع العميل</th>
                                                <th>حالة العميل</th>
                                                <th>الموظف المتابع له</th>
                                                <th>تم انشائه بواسطة</th>
                                            </tr>
                                        </thead>
                                        <tbody id="TableBody">
                                            @{int i=0;}
                                            @foreach (var customer in Model)
                                            {

                                                <tr>
                                                    <td>
                                                        
                                                            <span>@{i = i + 1;}@i</span>
                                                    </td>
                                                    <td>
                                                       @*  @if (customer.CustomerName == null)
                                                        {
                                                            <span>اسم الموظف : @customer.EmployeeName</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@customer.CustomerName</span>
                                                        } *@
                                                        <span>@customer.CustomerName == null ? "لا يوجد" : @customer.CustomerName</span>
                                                    </td>
                                                    <td>
                                                        <span>@Convert.ToDateTime(customer.CreatedAt).ToShortDateString()</span>
                                                    </td>
                                                    <td>
                                                        @if (customer.CompanyName == null)
                                                        {
                                                            <span>لا يوجد</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@customer.CompanyName</span>
                                                        }
                                                    </td>
                                                    <td>@customer.Phone</td>
                                                    <td>
                                                        <a href="mailto: @customer.Email">@customer.Email</a>
                                                    </td>
                                                    <td>@customer.Type</td>
                                                    <td>
                                                        @if (customer.CustomerState == "متفاعل")
                                                        {
                                                            <a asp-controller="Customer" asp-action="CustomerStateComment" asp-route-customerId="@customer.Id" class="customerSta">
                                                                <span style="position:relative;color:darkgreen;font-weight:bold">@customer.CustomerState <span class="addComm">اضف تعليقاً</span></span>
                                                            </a>
                                                        }
                                                        else if (customer.CustomerState == "جديد")
                                                        {
                                                            <a asp-controller="Customer" asp-action="CustomerStateComment" asp-route-customerId="@customer.Id" class="customerSta">
                                                                <span style="position:relative;color:darkcyan;font-weight:bold">@customer.CustomerState <span class="addComm">اضف تعليقاً</span></span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a asp-controller="Customer" asp-action="CustomerStateComment" asp-route-customerId="@customer.Id" class="customerSta">
                                                                <span style="position:relative;color:darkred;font-weight:bold">@customer.CustomerState<span class="addComm">اضف تعليقاً</span></span>
                                                            </a>
                                                        }
                                                    </td>
                                                            @*<td>@string.Join(" , ",customer.ProjectsId.ToList())</td> *@
                                                    <td>
                                                        @if(customer.FollowBy == null)
                                                        {
                                                            <span style="color:darkred;font-weight:bold;">لا يوجد</span>
                                                        }
                                                        else
                                                        {
                                                            using var dbContext = new ApplicationDbContext();
                                                            var empName = dbContext.Users.Where(x => x.Id == customer.FollowBy).Select(n => new { n.FirstName, n.LastName }).FirstOrDefault();
                                                            <span>@empName.FirstName @empName.LastName</span>
                                                        }
                                                
                                                </td>
                                                    <td>
                                                        @customer.CreatedBy
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                               @*  <div class="SortCustomers" dir="rtl">
                                    <div>
                                        <span> فرز العملاء بحسب الحالة</span>
                                        <button id="new">جديد</button>
                                        <button id="notAnswer">لم يرد</button>
                                        <button id="answer">رد</button>
                                        <button id="active">متفاعل</button>
                                        <button id="unActive">غير متفاعل</button>
                                        <button id="following">متابعة</button>
                                        <button id="ok">تعميد</button>
                                    </div>
                                </div>  *@

                           </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script> 
<script src="~/assets/js/customerReport.js"></script>