@using AlwasataNew.Data;
@model IEnumerable<ShowProjectsByStateViewModel>

<style>
    .ProjectsDiv{
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        margin:10px;
        cursor:pointer;
    }

    

    .UnFollow{
        border: 1px solid darkred;
        background-color: #8b000026;
    }

    .Done{
        border: 1px solid darkgreen;
        background-color: #0064002e;
    }

    .Proccess{
        border: 1px solid cyan;
        background-color: #008b8b29;
    }

    .NumberProjects{
        font-size:22px;
        font-weight:bold;
    }

    .ProjectsTable{
        margin-top:40px;
    }

    .table {
        border-collapse: collapse !important;
        width: 100% !important;
    }

    .table thead th {
        position: sticky !important;
        top: 0 !important;
        background-color: #5d87ff;
        text-align:center;
    }

    .table tbody tr td:not(:first-child){
        width:20% !important;
        text-align:center !important;
    }
    
    </style>


@{
    var dbContext = new ApplicationDbContext();
    int projectsDone = 0;
    int UnFollowProjects = 0;

    projectsDone = dbContext.Projects.Where(x => x.IsDone == true).Count();
    var ProccessProjects = dbContext.Customers.Where(x => x.FollowBy != null).ToList();
    int ProjectProccessCount = 0;
    foreach(var item in ProccessProjects)
    {
        if(dbContext.Projects.Where(x=>x.CustomerId==item.Id && x.IsDone!=true).FirstOrDefault()!=null)
        {
            ProjectProccessCount++;
        }
    }

    UnFollowProjects = dbContext.Customers.Where(x => x.FollowBy == null).Count();

}
 


<div class="container">
    <div class="row" style="justify-content:center">

        <div class="col-md-3 col-sm-12 ProjectsDiv Done" id="Done">
            <a asp-action="Index" asp-route-ProjectState="مكتمل" style="display:inline">
            <i class="fa-solid fa-check fa-3x" style="color: #218343;margin-bottom:20px;"></i>
            <h4>المشاريع المكتملة</h4>
            <span class="NumberProjects">@projectsDone</span>
            </a>
        </div>
        <div class="col-md-3 col-sm-12 ProjectsDiv Proccess" id="Proccess">
            <a asp-action="Index" asp-route-ProjectState="متابع" style="display:inline">
                <i class="fa-solid fa-spinner fa-3x" style="color: #30c3c5;margin-bottom:20px;"></i>
                <h4>العملاء المتابعين</h4>
                <span class="NumberProjects">@ProjectProccessCount</span>
            </a>
        </div>

        <div class="col-md-3 col-sm-12 ProjectsDiv UnFollow" id="UnFollow">
            <a asp-action="Index" asp-route-ProjectState="غير متابع" style="display:inline">
            <i class="fa-solid fa-exclamation fa-3x" style="color: darkred;margin-bottom:20px"></i>
            <h4>العملاء الغير متابعين</h4>
            <span class="NumberProjects">@UnFollowProjects</span>
            </a>
        </div>

    </div>
    <div class="row ProjectsTable">
        <div class="col-md-12">
            <div class="table-responsive" style="max-height:525px;">
                <table class="table table-striped">
                    <thead>
                        <tr class="bg-primary text-white mt-4">
                            <th>كود العميل</th>
                            <th>تاريخ اضافة المشروع</th>
                            <th>وصف المشروع</th>
                            <th>اسم العميل</th>
                            <th class="thChange">متابع من قبل</th>
                            <th>حالة العميل</th>
                            <th>مصدر العميل</th>
                            <th>العمليات</th>
                        </tr>
                    </thead>
                    <tbody id="ProjectTbody">
                        
                        @if(Model.Count()>0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CustomerId</td>
                                    <td>@item.ProjectCreatedDate</td>
                                    <td>@item.ProjectDescription</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.FollowBy</td>
                                    <td>@item.ProjectState</td>
                                    <td>
                                        @{
                                            if (item.CustomerComeFrom == "Internet" || item.CustomerComeFrom=="داتا" || item.CustomerComeFrom == "اخر" || item.CustomerComeFrom=="حملات التسويق")
                                            {
                                                <span>@item.ClientSource</span>
                                            }
                                            else
                                            {
                                                var empName = dbContext.Users.Where(x => x.Id == item.ClientSource).Select(n => new { n.FirstName, n.LastName }).FirstOrDefault();
                                                @if(empName ==null)
                                                {
                                                    <span>لا يوجد</span>
                                                }
                                                else
                                                {
                                                    <span>@empName.FirstName @empName.LastName</span>
                                                }
                                            }
                                        }
                                    </td>

                                    <td><a class="btn btn-primary" asp-controller="Customer" asp-action="ShowProjectsDescription" asp-route-projId="@item.ProjectId">تفاصيل المشروع</a></td>
                                </tr>
                            }
                            
                        }
                        
                    </tbody>
                </table>
               
            </div>
            @if (Model.Count() == 0)
            {
                <div style="text-align:center;font-weight:bold;color:darkred">لا يوجد معلومات لعرضها</div>
            }
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
