﻿@{
    ViewData["Title"] = "Home Page";
}

@using AlwasataNew.Data;
@model List<string>
<link rel="stylesheet" href="~/css/site.css" />
<style>
    a {
        color: black;
        font-weight: bold;
    }

    .iconA {
        color: #615dff;
    }

    .AllCustomers {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .Customers {
        display: flex;  
        justify-content: center;    
        align-items: center;    
        width: 180px;       
        height: 180px;      
        border-radius: 50%;     
        flex-direction: column;     
        gap: 10px;      
        padding: 3px;       
    }
</style>


@{
    ApplicationDbContext dbContext = new ApplicationDbContext();
    var HamalatCount = dbContext.Customers.Where(x => x.CustomerComeFrom == "Internet" || x.CustomerComeFrom == "حملات التسويق").Count();
    var OtherCount = dbContext.Customers.Where(x => x.CustomerComeFrom != "Internet" && x.CustomerComeFrom != "حملات التسويق").Count();
}


<div class="spiner"></div>
<div class="container-fluid" style="display:none">
    <!--  Row 1 -->
    <div class="row" style="display:flex;justify-content:center">

        @if (User.IsInRole("Admin"))
        {
            <div class="allInformation col-md-12">
                <span class="all">
                    جميع الموظفين : <span>@((dbContext.Users.Count()) - 1)</span>
                </span>
                <span class="all">
                    جميع المشاريع : <span>@dbContext.Projects.Count()</span>
                </span>
                <span class="all">
                    جميع العملاء : <span>@dbContext.Customers.Count()</span>
                </span>
            </div>
            <div class="col-md-12 AllCustomers">
                <a asp-controller="Report" asp-action="OtherSourcesCustomers">
                    <div class="Customers" style="background-color: #b6ecb659;color: #040;">
                        <div style="border:1px solid;border-radius:50%;display:flex;justify-content:center;align-items:center;width:170px;height:170px;flex-direction:column;gap:10px;">
                            <span style="font-weight:bold">@OtherCount</span>
                            عملاء من مصادر اخرى
                            <i class="fa-solid fa-mug-hot fa-2x"></i>
                        </div>
                    </div>
                </a>
                <a asp-controller="Report" asp-action="CampaignsCustomers">
                    <div class="Customers" style="background-color: #6fb3c85e;color: #9d0000;">
                        <div style="border:1px solid;border-radius:50%;display:flex;justify-content:center;align-items:center;width:170px;height:170px;flex-direction:column;gap:10px;">
                            <span style="font-weight:bold">@HamalatCount</span>
                            عملاء من الحملات
                            <i class="fa-solid fa-fire fa-2x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <h2 style="text-align:center;margin:30px auto;">جميع الموظفين</h2>
        }
        @foreach (var item in Model)
        {
            var user = dbContext.Users.Where(x => x.Id == item).FirstOrDefault();
            <div class="col-md-6">
                <div class="EmpDivInformation" dir="rtl">
                    <div class="empImg">
                        @if (user.ProfilePicture != null)
                        {
                            <img class="rounded-circle avatar" alt="ProfilePicture" src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))" />
                        }
                        else
                        {
                            <img class="rounded-circle avatar" alt="ProfilePicture" src="~/assets/images/defaultPictureForProfile.jpg" />
                        }
                    </div>
                    <span style="margin:15px auto;display:block;font-size:18px;font-weight:bold">@user.FirstName @user.LastName</span>
                    <span class="empRole">
                        @{
                            var result = @dbContext.Roles.Where(x => x.Id == dbContext.UserRoles.Where(x => x.UserId == user.Id).Select(x => x.RoleId).FirstOrDefault()).Select(x => x.Name).FirstOrDefault();
                            if (result == "Marketer")
                            {
                                <span>مسوّق</span>
                            }
                            else if (result == "DirectorOfMarketing")
                            {
                                <span>مدير تسويق</span>
                            }
                        }
                    </span>
                    <div class="customerInfo">
                        <div style="margin:15px;font-size:18px">
                            @{
                                string empId = user.Id;
                            }
                            عدد العملاء : @dbContext.Customers.Where(x => x.FollowBy == empId).Count()
                            <i class="fa-solid fa-users fa-2x" style="margin-right:5px;color:#688bef"></i>
                            <div class="custState">
                                <div class="row" style="display:flex;justify-content:center">


                                    <div class="divState col-md-3">
                                        <span>جديد</span>
                                        <i class="fa-solid fa-square-arrow-up-right" style="color:darkgoldenrod"></i>
                                        <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="جديد" asp-route-empId="@empId">
                                            <div class="StateCount">@dbContext.Customers.Where(x => x.FollowBy == empId && (x.CustomerState == "جديد" || x.CustomerState == "رد" || x.CustomerState == "لم يرد" || x.CustomerState == "متفاعل" || x.CustomerState == "غير متفاعل" || x.CustomerState == "تم ارسال البيانات")).Count()</div>
                                        </a>

                                    </div>


                                    <div class="divState col-md-3">
                                        <span>متابعة</span>
                                        <i class="fa-solid fa-timeline" style="color:#1c52bb"></i>
                                        <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="متابعة" asp-route-empId="@empId">
                                            <div class="StateCount">@dbContext.Customers.Where(x => x.FollowBy == empId && x.CustomerState == "متابعة").Count()</div>
                                        </a>

                                    </div>


                                    <div class="divState col-md-3">
                                        <span>تعميد</span>
                                        <i class="fa-regular fa-circle-check" style="color:green"></i>
                                        <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="تعميد" asp-route-empId="@empId">
                                            <div class="StateCount">@dbContext.Customers.Where(x => x.FollowBy == empId && x.CustomerState == "تعميد").Count()</div>
                                        </a>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>

                        @if (User.IsInRole("Admin"))
                        {
                            <div class="ManageUser">
                                <a asp-controller="Users" asp-action="Index" class="iconA">
                                    <i class="fa-solid fa-gear fa-2x"></i>
                                </a>
                            </div>
                        }

                        else
                        {
                            <div class="ManageUser">
                                <a asp-controller="Customer" asp-action="ManageCustomer" class="iconA">
                                    <i class="fa-solid fa-gear fa-2x"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>

        }

    </div>

</div>
<script src="~/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(() => {
        $(".spiner").fadeOut(500);
        $(".container-fluid").fadeIn(500);
    });
</script>


