@{
    ViewData["Title"] = "Home Page";
}

@using AlwasataNew.Data;
@model List<string>
<link rel="stylesheet" href="~/css/site.css" />
<style>
   a{
       color:black;
       font-weight:bold;
   }
   .iconA{
        color: #615dff;
   }
</style>


@{
    ApplicationDbContext dbContext = new ApplicationDbContext();
}


<div class="spiner"></div>
<div class="container-fluid" style="display:none">
    <!--  Row 1 -->
    <div class="row" style="display:flex;justify-content:center">
        @if (User.IsInRole("Admin"))
        {
            <div class="allInformation col-md-12">
                <span class="all">
                    جميع الموظفين : <span>@((dbContext.Users.Count()) - 1)</span>
                </span>
                <span class="all">
                    جميع المشاريع : <span>@dbContext.Projects.Count()</span>
                </span>
                <span class="all">
                    جميع العملاء : <span>@dbContext.Customers.Count()</span>
                </span>
            </div>
            <h2 style="text-align:center;margin:30px auto;">جميع الموظفين</h2>
        }
        @foreach (var item in Model)
            {
                var user = dbContext.Users.Where(x => x.Id == item).FirstOrDefault();
                <div class="col-md-6">
                        <div class="EmpDivInformation" dir="rtl">
                            <div class="empImg">
                                @if (user.ProfilePicture != null)
                                {
                                    <img class="rounded-circle avatar" alt="ProfilePicture" src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))" />
                                }
                                else
                                {
                                    <img class="rounded-circle avatar" alt="ProfilePicture" src="~/assets/images/defaultPictureForProfile.jpg" />
                                }
                            </div>
                    <span style="margin:15px auto;display:block;font-size:18px;font-weight:bold"> @user.FirstName @user.LastName</span>
                            <span class="empRole">
                                @{
                                    var result = @dbContext.Roles.Where(x => x.Id == dbContext.UserRoles.Where(x => x.UserId == user.Id).Select(x => x.RoleId).FirstOrDefault()).Select(x => x.Name).FirstOrDefault();
                                    if (result == "Marketer")
                                    {
                                        <span>مسوّق</span>
                                    }
                                    else if (result == "DirectorOfMarketing")
                                    {
                                        <span>مدير تسويق</span>
                                    }
                                }
                            </span>
                            <div class="customerInfo">
                                <div style="margin:15px;font-size:18px">
                                    @{
                                    string empId= user.Id;
                                    
                                    }
                                    عدد العملاء : @dbContext.Customers.Where(x => x.FollowBy == empId).Count()
                                    <i class="fa-solid fa-users fa-2x" style="margin-right:5px;color:#688bef"></i>
                                    <div class="custState">
                                        <div class="row" style="display:flex;justify-content:center">


                                        @* <div class="divState col-sm-6 col-md-3">
                                            <span>منتظر</span>
                                            <i class="fa-solid fa-bars-progress" style="color:#1c52bb"></i>
                                            <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="منتظر" asp-route-empName="@empName">
                                            <div class="StateCount">@dbContext.Customers.Where(x=>x.FollowBy==empName && x.CustomerState=="منتظر").Count()</div>
                                            </a>
                                        </div>
                                        <div class="divState col-sm-6 col-md-3">
                                            <span>متفاعل</span>
                                            <i class="fa-solid fa-battery-full" style="color:green"></i>
                                            <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="متفاعل" asp-route-empName="@empName">
                                            <div class="StateCount">@dbContext.Customers.Where(x=>x.FollowBy==empName && x.CustomerState=="متفاعل").Count()</div>
                                            </a>
                                        </div>

                                        <div class="divState col-sm-6 col-md-3">
                                            <span>لم يرد</span>
                                            <i class="fa-solid fa-phone-slash" style="color:darkred"></i>
                                            <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="لم يرد" asp-route-empName="@empName">
                                            <div class="StateCount">@dbContext.Customers.Where(x=>x.FollowBy==empName && x.CustomerState=="لم يرد").Count()</div>
                                            </a>
                                        </div> *@

                                        <div class="divState col-md-3">
                                            <span>جديد</span>
                                            <i class="fa-solid fa-square-arrow-up-right" style="color:darkgoldenrod"></i>
                                        <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="جديد" asp-route-empId="@empId">
                                            <div class="StateCount">@dbContext.Customers.Where(x => x.FollowBy == empId && (x.CustomerState == "جديد" || x.CustomerState == "رد" || x.CustomerState == "لم يرد" || x.CustomerState == "متفاعل" || x.CustomerState == "غير متفاعل")).Count()</div>
                                            </a>
                                            
                                        </div>

                                    
                                        <div class="divState col-md-3">
                                            <span>متابعة</span>
                                            <i class="fa-solid fa-timeline" style="color:#1c52bb"></i>
                                        <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="متابعة" asp-route-empId="@empId">
                                            <div class="StateCount">@dbContext.Customers.Where(x => x.FollowBy == empId && x.CustomerState == "متابعة").Count()</div>
                                            </a>
                                        </div>


                                        <div class="divState col-md-3">
                                            <span>تعميد</span>
                                            <i class="fa-regular fa-circle-check" style="color:green"></i>
                                        <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="تعميد" asp-route-empId="@empId">
                                            <div class="StateCount">@dbContext.Customers.Where(x => x.FollowBy == empId && x.CustomerState == "تعميد").Count()</div>
                                            </a>
                                        </div>
                                        
                                        @* <div class="divState col-sm-6 col-md-3">
                                            <span>غير متفاعل</span>
                                            <i class="fa-solid fa-heart-crack" style="color:#d70000"></i>
                                            <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="غير متفاعل" asp-route-empName="@empName">
                                            <div class="StateCount">@dbContext.Customers.Where(x=>x.FollowBy==empName && x.CustomerState=="غير متفاعل").Count()</div>
                                            </a>
                                        </div> *@

                                       @*  <div class="divState col-sm-6 col-md-3">
                                            <span>مكتمل</span>
                                            <i class="fa-regular fa-circle-check" style="color:green"></i>
                                            <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="مكتمل" asp-route-empName="@empName">
                                            <div class="StateCount">@dbContext.Customers.Where(x=>x.FollowBy==empName && x.CustomerState=="مكتمل").Count()</div>
                                            </a>
                                        </div>

                                        <div class="divState col-sm-6 col-md-3">
                                            <span>مقابلة</span>
                                            <i class="fa-solid fa-handshake-simple" style="color:gray"></i>
                                            <a asp-action="ShowListOfCustomerByState" asp-controller="Customer" asp-route-state="مقابلة" asp-route-empName="@empName">
                                            <div class="StateCount">@dbContext.Customers.Where(x=>x.FollowBy==empName && x.CustomerState=="مقابلة").Count()</div>
                                            </a>
                                        </div> *@
                                        
                                        </div>
                                    </div>
                                </div>

                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="ManageUser">
                                        <a asp-controller="Users" asp-action="Index" class="iconA">
                                            <i class="fa-solid fa-gear fa-2x"></i>
                                        </a>
                                    </div>
                                }

                                else
                                {
                                    <div class="ManageUser">
                                    <a asp-controller="Customer" asp-action="ManageCustomer" class="iconA">
                                            <i class="fa-solid fa-gear fa-2x"></i>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                
        }

    </div>

</div>
<script src="~/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(() => {
        $(".spiner").fadeOut(500);
        $(".container-fluid").fadeIn(500);
    });
</script>


